.map-container {
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: 62px;
  min-height: 50em;
  min-width: 80em;
}

.map-frame {
  border: 2px solid black;
  height: 60em;
}

.header {
  height: 4em;
  background-color: rgb(241, 241, 241);
  justify-content: space-around;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 2.5em;
  border-bottom: 1px solid black;
}

#map {
  height: 100%;
}

.icon-container {
  position: relative; /* Makes this the reference for absolute positioning */
  width: 25px; /* Ensure it matches the image width */
  height: 25px; /* Ensure it matches the image height */
}

.icon-container img {
  display: block; /* Ensures no extra space around the image */
  width: 100%;
  height: 100%;
}

.overlay-icon {
  position: absolute;
  stroke: black !important;
  top: 40%; /* Move to center */
  left: 49%;
  transform: translate(-50%, -50%); /* Center perfectly */
  width: 17px !important;
  height: 17px !important;
}

.Offline {
  filter: sepia(1) saturate(10) hue-rotate(300deg) brightness(0.7) contrast(3.2);
}

.Online {
  filter: sepia(1) saturate(10) hue-rotate(52deg);
}

.Maintenance {
  filter: sepia(1) saturate(3) hue-rotate(0deg);
}
