.popupContent {
  width: 22em;
  min-width: 22em;
}

.popup {
  display: flex;
  width: 22em;
}

.linkButton {
  overflow: hidden;
}

.link {
  color: white;
}

.popupCard {
  margin-left: 3em;
  padding: 1em;
  background-color: white;
}

.buttonArea {
  padding-top: 1em;
  align-self: flex-end;
  display: flex;
}
