<div class="popupContent">
  <p>
    <b>{{ "Id: " + id }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Description: " + description }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Location: " + location }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Elevation: " + elevation + "m" }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Status: " + status }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Sensor Type: " + sensorType }}</b>
  </p>
  <mat-divider></mat-divider>
  <p *ngIf="sensorModel">
    <b>{{ "Sensor Model: " + sensorModel }}</b>
  </p>
  <mat-divider *ngIf="sensorModel"></mat-divider>
  <p>
    <b>{{ "Is sensor stationary?: " + stationary }}</b>
  </p>
  <mat-divider></mat-divider>
  <p *ngIf="measuringInterval">
    <b *ngIf="measuringInterval <= 60">{{
      "Measuring Interval: " + measuringInterval + " Sekuntia"
    }}</b>
    <b *ngIf="measuringInterval >= 60">{{
      "Measuring Interval: " + measuringInterval / 60 + " Minuuttia"
    }}</b>
  </p>
  <mat-divider *ngIf="measuringDescription"></mat-divider>
  <p *ngIf="measuringDescription">
    <b>{{ "Measuring Description: " + measuringDescription }}</b>
  </p>
  <mat-divider *ngIf="measuringRadius"></mat-divider>
  <p *ngIf="measuringRadius">
    <b>{{ "Measuring Radius: " + measuringRadius }}</b>
  </p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Is data secret?: " + isDataSecret }}</b>
  </p>
  <mat-divider *ngIf="dataValue"></mat-divider>
  <p *ngIf="dataValue">
    <b>{{ "Latest value: " + dataValue }}</b>
  </p>
  <mat-divider *ngIf="linkToData"></mat-divider>
  <div class="buttonArea">
    <button class="linkButton" mat-flat-button *ngIf="linkToData">
      <a target="_blank" class="link" href="{{ linkToData }}">Link to Data</a>
    </button>
  </div>
</div>
<!--
<h3>{{ "Id: " + id }}</h3>
  <mat-divider></mat-divider>
  <p>{{ "Description: " + description }}</p>
  <mat-divider></mat-divider>
  <p>{{ "Location: " + location }}</p>
  <mat-divider></mat-divider>
  <p>{{ "Status: " + status }}</p>
  <mat-divider></mat-divider>
  <p><b>{{ "Sensor Type: " + sensorType }}</b></p>
  <mat-divider></mat-divider>
  <p>
    <b>{{ "Is data secret?: " + dataSecret }}</b>
  </p>
-->
