<div class="map-container">
  <div class="map-frame">
    <div class="map-frame">
      <mat-toolbar class="header">
        <mat-button-toggle-group> </mat-button-toggle-group>
        <div class="asemakaavaArea">
          <mat-button-toggle
            mat-flat-button
            (change)="toggleAsemakaavaVisibility()"
          >
            Asemakaava
          </mat-button-toggle>
          <mat-slider
            *ngIf="asemaKaavaVisible"
            #opacitySlider
            id="opacitySlider"
            class="opacitySlider"
            min="0"
            max="1"
            step="0.1"
            showTickMarks="true"
          >
            <input
              matTooltip="{{ asemaKaavaOpacity * 100 }}%"
              value="asemaKaavaOpacity"
              [(ngModel)]="asemaKaavaOpacity"
              (change)="changeAsemakaavaOpacity()"
              matSliderThumb
            />
          </mat-slider>
        </div>
        <div class="sliderArea">
          <p class="elevationValue">{{ elevationRange[0] }}</p>
          <mat-slider
            #rangeSlider
            id="rangeSlider"
            class="rangeSlider"
            min="-50"
            max="50"
            step="1"
          >
            <input
              matTooltip="{{ elevationRange[0] }}"
              value="elevationRange[0]"
              [(ngModel)]="elevationRange[0]"
              (change)="onSliderChange()"
              matSliderStartThumb
            />
            <input
              matTooltip="{{ elevationRange[1] }}"
              value="elevationRange[1]"
              [(ngModel)]="elevationRange[1]"
              (change)="onSliderChange()"
              matSliderEndThumb
            />
          </mat-slider>
          <p class="elevationValue">{{ elevationRange[1] }}</p>
        </div>
      </mat-toolbar>
      <div id="map">
        <div class="leaflet-top"></div>
        <nav class="leaflet-top leaflet-right"></nav>
        <nav class="leaflet-right leaflet-bottom"></nav>
      </div>
    </div>
  </div>
</div>
<ng-template #popupContainer></ng-template>
