.map-container {
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: 62px;
  min-height: 50em;
  min-width: 80em;
}

.map-frame {
  border: 2px solid black;
  height: 60em;
}

.header {
  height: 4em;
  background-color: rgb(241, 241, 241);
  justify-content: space-around;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 2.5em;
  border-bottom: 1px solid black;
}

.map-dialog-div {
  display: flex;
  justify-content: space-between;
}

.close-button {
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  padding: 0px;
  padding-left: 5px;
  pointer-events: auto;
}

mat-button-toggle-group {
  position: relative;
  margin-left: 0px;
}

.sliderHeaderArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20em;
  right: 4em;
  top: 1em;
  justify-content: space-around;
}

.rangeSlider {
  pointer-events: auto;
  width: 12em;
  position: absolute;
}

.asemakaavaArea {
  width: 20em;
}

.mittaussuuntaButton {
  right: 3em;
}

.opacitySlider {
  pointer-events: auto;
  width: 8em;
  left: 1em;
}

.elevationValue {
  margin-right: 7em;
  margin-left: 7em;
}

#map {
  height: 100%;
}

.select {
  margin-left: 1rem;
  right: 1em;
  bottom: 2em;
  pointer-events: auto;
}

.help {
  margin-left: 1rem;
  right: 0.2em;
  bottom: 2em;
  pointer-events: auto;
  width: 36px;
  height: 36px;
  min-width: 36px;
  padding: 0px;
}

.helpIcon {
  padding-left: 0.5em;
  padding-bottom: 2px;
  font-size: 1.4em;
}

.floorlevel {
  pointer-events: auto;
  position: relative;
}

.icon-container {
  position: relative; /* Makes this the reference for absolute positioning */
  width: 25px; /* Ensure it matches the image width */
  height: 25px; /* Ensure it matches the image height */
}

.icon-container img {
  display: block; /* Ensures no extra space around the image */
  width: 100%;
  height: 100%;
}

.overlay-icon {
  position: absolute;
  top: 60%; /* Move to center */
  left: 68%;
  transform: translate(-50%, -50%); /* Center perfectly */
  font-size: 15px; /* Adjust icon size */
}

.Offline {
  filter: sepia(1) saturate(10) hue-rotate(300deg) brightness(0.7) contrast(3.2);
}

.Online {
  filter: sepia(1) saturate(10) hue-rotate(52deg);
}

.Maintenance {
  filter: sepia(1) saturate(3) hue-rotate(0deg);
}
