.map-container {
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: 62px;
  min-height: 50em;
  min-width: 80em;
}

.map-frame {
  border: 2px solid black;
  height: 60em;
}

.header {
  height: 4em;
  background-color: rgb(241, 241, 241);
  justify-content: space-around;
  padding-right: 1.5em;
  padding-left: 2.5em;
  border-bottom: 1px solid black;
}

.map-dialog-div {
  display: flex;
  justify-content: space-between;
}

.close-button {
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  padding: 0px;
  padding-left: 5px;
  pointer-events: auto;
}

mat-button-toggle-group {
  position: relative;
  margin-left: 0px;
  width: 4em;
  right: 1em;
  top: 1em;
}

.sliderArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 4em;
  top: 1em;
  justify-content: space-between;
}

.rangeSlider {
  pointer-events: auto;
  width: 12em;
}

.opacitySlider {
  pointer-events: auto;
  width: 8em;
  left: 1em;
}

.elevationValue {
  margin-right: 1em;
  margin-left: 1em;
}

#map {
  height: 100%;
}

.select {
  margin-left: 1rem;
  right: 1em;
  bottom: 2em;
  pointer-events: auto;
}

.help {
  margin-left: 1rem;
  right: 0.2em;
  bottom: 2em;
  pointer-events: auto;
  width: 36px;
  height: 36px;
  min-width: 36px;
  padding: 0px;
}

.helpIcon {
  padding-left: 0.5em;
  padding-bottom: 2px;
  font-size: 1.4em;
}

.floorlevel {
  pointer-events: auto;
  position: relative;
}
