.app-nav {
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  height: 4em;
  position: absolute;
  max-width: 97%;
  border-radius: 10px;
  transform: translateX(-50%);
  top: 1rem;
  left: 50%;
  display: flex;
  // background-color: rgb(241, 241, 241);
  background: linear-gradient(#ffffff, #f0f0f0);
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  z-index: 1000;
}

.elevationText {
  font-family: "BarlowLight";
  margin-bottom: 1rem;
}

mat-button-toggle-group {
  position: relative;
  margin-left: 0px;
}

.metacityTextLogo {
  display: inline-block;
  color: #001e95;
  font-size: 3rem;
  margin-left: -0.5em;
  padding-top: 0.2em;
  text-decoration: none;
  font-family: "OulunGraadi";
}

.sliderHeaderArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20em;
  right: 4em;
  margin-bottom: 1rem;
  justify-content: center;
}

.rangeSlider {
  pointer-events: auto;
  width: 12em;
  position: absolute;
}

.cityPlanArea {
  width: 20%;
  justify-content: center;
}

.toggleButton {
  margin-right: 2em;
  font-size: 15px;
}

.opacitySlider {
  pointer-events: auto;
  width: 8em;
  left: 1em;
}

.elevationValueLeft {
  position: absolute;
  margin-left: -22rem;
  margin-bottom: 0.5rem;
}

.elevationValueRight {
  position: absolute;
  margin-right: -22rem;
  margin-bottom: 0.5rem;
}

.select {
  margin-left: 1rem;
  right: 1em;
  bottom: 2em;
  pointer-events: auto;
}

.help {
  margin-left: 1rem;
  right: 0.2em;
  bottom: 2em;
  pointer-events: auto;
  width: 36px;
  height: 36px;
  min-width: 36px;
  padding: 0px;
}

.helpIcon {
  padding-left: 0.5em;
  padding-bottom: 2px;
  font-size: 1.4em;
}

.floorlevel {
  pointer-events: auto;
  position: relative;
}
