.header {
  height: 4em;
  background-color: rgb(241, 241, 241);
  justify-content: space-around;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 2.5em;
  border-bottom: 1px solid black;
}

mat-button-toggle-group {
  position: relative;
  margin-left: 0px;
}

.sliderHeaderArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20em;
  right: 4em;
  top: 1em;
  justify-content: center;
}

.rangeSlider {
  pointer-events: auto;
  width: 12em;
  position: absolute;
}

.cityPlanArea {
  width: 20%;
  justify-content: center;
}

.toggleButton {
  margin-right: 2em;
}

.opacitySlider {
  pointer-events: auto;
  width: 8em;
  left: 1em;
}

.elevationValue {
  margin-right: 7em;
  margin-left: 7em;
}

.select {
  margin-left: 1rem;
  right: 1em;
  bottom: 2em;
  pointer-events: auto;
}

.help {
  margin-left: 1rem;
  right: 0.2em;
  bottom: 2em;
  pointer-events: auto;
  width: 36px;
  height: 36px;
  min-width: 36px;
  padding: 0px;
}

.helpIcon {
  padding-left: 0.5em;
  padding-bottom: 2px;
  font-size: 1.4em;
}

.floorlevel {
  pointer-events: auto;
  position: relative;
}
