<div class="app-nav">
  <mat-toolbar class="header">
    <mat-button-toggle-group
      class="toggleButtonGroup"
      multiple
      hideMultipleSelectionIndicator="true"
    >
      <ng-container *ngFor="let type of this.sensorTypes">
        <mat-button-toggle
          class="floorlevel"
          matTooltip="{{ type }}"
          matTooltipPosition="below"
          value="{{ type }}"
          (change)="filterSensors(filterSensorTypes.value)"
          #filterSensorTypes
          >{{ type }}</mat-button-toggle
        >
      </ng-container>
    </mat-button-toggle-group>
    <div class="cityPlanArea">
      <mat-button-toggle
        class="mittaussuuntaButton"
        mat-flat-button
        (change)="toggleDirectionLayerVisibility()"
      >
        Mittaussuunta
      </mat-button-toggle>
      <mat-button-toggle mat-flat-button (change)="togglecityPlanVisibility()">
        Asemakaava
      </mat-button-toggle>
      <mat-slider
        *ngIf="cityPlanVisible"
        #opacitySlider
        id="opacitySlider"
        class="opacitySlider"
        min="0"
        max="1"
        step="0.1"
        showTickMarks="true"
      >
        <input
          matTooltip="{{ cityPlanOpacity * 100 }}%"
          value="cityPlanOpacity"
          [(ngModel)]="cityPlanOpacity"
          (input)="changecityPlanOpacity()"
          matSliderThumb
        />
      </mat-slider>
    </div>
    <div class="sliderHeaderArea">
      <h1>Elevation</h1>
      <div class="sliderArea">
        <p class="elevationValue">{{ elevationRange[0] + "m" }}</p>
        <mat-slider
          #rangeSlider
          id="rangeSlider"
          class="rangeSlider"
          min="-50"
          max="50"
          step="5"
          showTickMarks="true"
        >
          <!-- If you want realtime updates on sliders, swap (change) to (input)-->
          <input
            matTooltip="{{ elevationRange[0] }}"
            value="elevationRange[0]"
            [(ngModel)]="elevationRange[0]"
            (change)="onSliderChange()"
            matSliderStartThumb
          />
          <input
            matTooltip="{{ elevationRange[1] }}"
            value="elevationRange[1]"
            [(ngModel)]="elevationRange[1]"
            (change)="onSliderChange()"
            matSliderEndThumb
          />
        </mat-slider>
        <p class="elevationValue">{{ elevationRange[1] + "m" }}</p>
      </div>
    </div>
  </mat-toolbar>
  <app-map></app-map>
</div>
