/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

@font-face {
  font-family: "OulunGraadi";
  src: url("/fonts/OulunGraadi-Otsikko.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Black.ttf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "BarlowLight";
  src: url("/fonts/Barlow-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BarlowMedium";
  src: url("/fonts/Barlow-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BarlowLight";
}

:root {
  @include mat.slider-overrides(
    (
      inactive-track-color: rgb(0, 26, 255),
    )
  );
}

html,
body {
  height: 100%;
  background: transparent;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


$xs: "screen and (max-width: 599px)";
$sm: "screen and (min-width: 600px) and (max-width: 959px)";
$md: "screen and (min-width: 960px) and (max-width: 1279px)";
$lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$xl: "screen and (min-width: 1920px) and (max-width: 5000px)";
$lt-sm: "screen and (max-width: 599px)";
$lt-md: "screen and (max-width: 959px)";
$lt-lg: "screen and (max-width: 1279px)";
$lt-xl: "screen and (max-width: 1919px)";
$gt-xs: "screen and (min-width: 600px)";
$gt-sm: "screen and (min-width: 960px)";
$gt-md: "screen and (min-width: 1280px)";
$gt-lg: "screen and (min-width: 1920px)";