/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

@font-face {
  font-family: Messina-sans;
  src: url("/MessinaSans-Regular.otf");
  format: "opentype";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Messina-sans;
}

:root {
  @include mat.slider-overrides(
    (
      inactive-track-color: rgb(0, 26, 255),
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
